@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$fontFamily: 'Poppins', sans-serif;

$color1: #faff11;
$color2: #c0c0c0;

$bgColor: #191919;
$bgColor2: #414141;
$blackColor: #000000;
