// All varibales like buttons

//Focus input
:focus-visible {
	outline: -webkit-focus-ring-color auto 0px;
}

.yellowFont {
	color: $color1;
}

.btnConnect {
	border: none;
	padding: 10px 15px;
	background-color: gray;
	font-size: 24px;
}
