// All varibales like buttons

//Focus input
:focus-visible {
	outline: -webkit-focus-ring-color auto 0px;
}

.yellowFont {
	color: $color1;
}

h4 {
	text-align: center;
	color: red;
	font-size: 18px;
}

.soldOut {
	text-align: center;
	color: red;
}
